-
  var footermenu =[
    { link: 'https://www.finder.fi/IT-konsultointi+IT-palvelut/Tpoint+Oy/Kotka/yhteystiedot/2926876', text: 'FI2638899-8'},
    { link: 'https://www.linkedin.com/in/tpoint/', text: 'Roman Denisov'},
    { link: 'mailto:info@tpoint.fi', text: 'info@tpoint.fi'},
    { link: 'https://bisoft.fi/files/TeamViewerQS-idcgxh5n73.exe', text: 'Support Windows'},
    { link: 'https://bisoft.fi/files/TeamViewerQS.dmg', text: 'Support Mac'},
    { link: 'mailto:support@tpoint.fi', text: 'support@tpoint.fi'}
  ]

-
  var footersocial =[
    { link: '/', img: 'img/icon_youtube.png', alt: 'youtube'},
    { link: '/', img: 'img/icon_in.png', alt: 'in'},
    { link: '/', img: 'img/icon_fb.png', alt: 'fb'}
  ]

footer.footer#footer
  .inner
    .footer-left
      .footer-left-logo
        a(href='/')
          img(src='img/icon_logo.png', alt='logo')
      .footer-left-text Политика конфиденциальности
      .footer-left-text © All rights reserved by Tpoint Oy
    .footer-center
      each footermenuitem in footermenu
        a.footer-center-item(href=footermenuitem.link)=footermenuitem.text
    .footer-right
      .footer-right-social
        each footersocialitem in footersocial
          .footer-right-social-item
            a(href=footersocialitem.link)
              img(src=footersocialitem.img, alt=footersocialitem.alt)
      .footer-right-phone
        a(href='tel:+358442706526') +358 44 270 65 26
