-
  var headermenu =[
    { link: '#top-banner', text: 'Программа'},
    { link: '#cost', text: 'Стоимость'},
    { link: '#training', text: 'Обучающие видео'},
    { link: '#about_company', text: 'О компании'},
    { link: '#footer', text: 'Контакты'}
  ]

header.header#header
  .inner
    .header-logo
      a(href='/')
        img(src='img/icon_logo.png', alt='logo')
    .header-menu
      each headermenuitem in headermenu
        a.header-menu-item(href=headermenuitem.link)=headermenuitem.text
    .header-mb
      img(src='img/icon_menu.png', alt='menu')
    .header-menu_mb
      a(href='https://tpoint.fi/static/login.html')
        img(src="img/icon_enter.png", alt="enter")
        | Войти
      a(href='https://tpoint.fi/static/register.html')
        img(src="img/icon_user.png", alt="user")
        | Регистрация
    .header-language
      .header-language-item
        img.header-language-item-icon_flag(src='img/icon_ru.png', alt='ru')
        | Ru
        img.header-language-item-icon_arrow(src='img/icon_arrow_bottom.png', alt='arrow')
      .header-language-links
        a(href='/')
          img.header-language-item-icon_flag(src='img/icon_fi.png', alt='ru')
        a(href='/')
          img.header-language-item-icon_flag(src='img/icon_en.png', alt='ru')
    .header-button_login
      a(href='https://tpoint.fi/static/login.html') Войти
