$gotham: 'GothamPro', 'Arial', sans-serif;
$bebas: 'BebasNeue', 'Arial', sans-serif;

$black: #222;
$white: #fff;
$red: #b30000;

$mediaWidthDesktop: 1580px;
$mediaWidthLaptop: 1366px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 520px;
$mediaWidthMinMobile: 425px;
